@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ededed;
  --foreground: #0d0d1f;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0d0d1f;
    --foreground: #ededed;
  }
} */

body {
  color: hsl(var(--foreground));
  background: hsl(var(--background));
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  box-sizing: border-box;

  --gradient-primary: linear-gradient(180deg, #73a8f8 0%, #3a57e8 100%);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 212 100% 95%;
    --foreground: 212 5% 0%;
    --card: 212 50% 90%;
    --card-foreground: 212 5% 10%;
    --popover: 212 100% 95%;
    --popover-foreground: 212 100% 0%;
    --primary: 212 100% 39%;
    --primary-foreground: 0 0% 100%;
    --secondary: 212 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 174 30% 85%;
    --muted-foreground: 212 5% 35%;
    --accent: 174 30% 80%;
    --accent-foreground: 212 5% 10%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 212 5% 90%;
    --border: 212 30% 50%;
    --input: 212 30% 18%;
    --ring: 212 100% 39%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 212 50% 5%;
    --foreground: 212 5% 90%;
    --card: 212 50% 0%;
    --card-foreground: 212 5% 90%;
    --popover: 212 50% 5%;
    --popover-foreground: 212 5% 90%;
    --primary: 212 100% 39%;
    --primary-foreground: 0 0% 100%;
    --secondary: 212 30% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 174 30% 15%;
    --muted-foreground: 212 5% 60%;
    --accent: 174 30% 15%;
    --accent-foreground: 212 5% 90%;
    --destructive: 0 84.7% 60.2%;
    --destructive-toast: 0 100% 30%;
    --destructive-foreground: 212 5% 90%;
    --border: 212 30% 18%;
    --input: 212 30% 18%;
    --ring: 212 100% 39%;
    --radius: 0.5rem;
    /* TODO: add below in light theme also */
    --success: 115 69% 30%; /* HSL value for success */
    --success-foreground: 0 0% 98%; /* Adjusted HSL value for success foreground */
    --foreground-secondary: 220, 9%, 46%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.logo-container {
  position: relative;
  height: 100%;
  aspect-ratio: 2.5/1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.bg-gradient-primary {
  background: linear-gradient(180deg, #73a8f8 0%, #3a57e8 100%);
}

/* remove input type number arrows */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.loader {
  width: 88px;
  height: 12px;
  --_g: no-repeat radial-gradient(farthest-side, #000 94%, #0000);
  background: var(--_g) 25% 0, var(--_g) 75% 0;
  background-size: 12px 12px;
  position: relative;
  animation: l24-0 1s linear infinite;
}
.loader:before {
  content: "";
  position: absolute;
  height: 12px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #000;
  inset: 0;
  margin: auto;
  animation: l24-1 1s cubic-bezier(0.5, 300, 0.5, -300) infinite;
}
@keyframes l24-0 {
  0%,
  24% {
    background-position: 25% 0, 75% 0;
  }
  40% {
    background-position: 25% 0, 85% 0;
  }
  50%,
  72% {
    background-position: 25% 0, 75% 0;
  }
  90% {
    background-position: 15% 0, 75% 0;
  }
  100% {
    background-position: 25% 0, 75% 0;
  }
}
@keyframes l24-1 {
  100% {
    transform: translate(0.1px);
  }
}
